* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;

    font-weight: 400;
}

.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f6f3;
    padding: 0 20px;
    position: fixed;
    border-bottom: 1px solid rgb(235, 235, 235);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.navBarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.navTitle {
    font-weight: 600;
    font-size: 30px;
   color: #a1754f;
}

.navLink {
    text-decoration: none;
    color: #302520;
    font-size: 17px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;

}

#navLinkContato {
    background-color:#a1754f;
    color: #fffef9;
    border-radius: 5px;
    padding: 5px;

}



.heroSection {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(180deg, #ccc, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.heroContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    padding: 0 50px;
    z-index: 1;

}

.infoHero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: 100px;
}

.heroTitle {
    font-size: 80px;
    font-weight: bold;
    color: #a1754f;
    margin: 0;
}

.heroDescription {
    color: #453425;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

.imageColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageHero {
    width: 680px;
    /* ajuste conforme a necessidade */
    height: auto;
    max-height: 90vh;
    object-fit: cover;
}

/* Onda no final */
.onda {
    width: 100%;
    height: 50px;
    background: #a1754f;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.aboutSection {
    min-height: 100vh;
    background: #a1754f;
}

.footer {
    width: 100%;
    background-color: #a1754f;
    color: #fff;
    padding: 40px 10%;
    position: relative;
    
}


.footerContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 50px;
    
  
}


.infoFooter {
    width: 25%;
    min-width: 200px;
    
}

.nomeFooter {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.descriptionFooter {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
   
}

.navegacaoFooter,
.contatoFooter {
    min-width: 180px;
}

.titleFooter {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.emailFooter,
.numFooter, .locFooter {
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    
}

.footerLink {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
    
}

.footerLink:hover {
    color: #ddd;
}

.line {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 15px;
}

.copyFooter {
    text-align: center;
    font-size: 0.85rem;
    color: #ccc;
   
}

.copyFooter a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.copyFooter a:hover {
    color: #ddd;
}